# {{ ansible_managed }}

# rotate log files weekly
{{ logrotate_rotate }}

# use the syslog group by default, since this is the owning group of /var/log/syslog.
{{ logrotate_group }}

# keep 4 weeks worth of backlogs
{{ logrotate_keep }}

# create new (empty) log files after rotating old ones
{{ logrotate_create }}

# log files compressed
{{ logrotate_compress }}