# {{ ansible_managed }}

# rotate log files weekly
{{ logrotaterotate }}

# use the syslog group by default, since this is the owning group of /var/log/syslog.
{{ logrotategroup }}

# keep 4 weeks worth of backlogs
{{ logrotatekeep }}

# create new (empty) log files after rotating old ones
{{ logrotatecreate }}

# log files compressed
{{ logrotatecompress }}