#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

{{ item.path }} {
    {% if item.rotate_options is defined %}
            {% for option in item.rotate_options %}
    {{ option }}
            {% endfor %}
        {% endif %}
        {% if item.post_rotate is defined %}
    postrotate
            {% for option in item.post_rotate %}
        {{ option }}
            {% endfor %}
        {% endif %}
}